#{@abuse_report.user.name} (@#{@abuse_report.user.username}) foi reportado por abuso por #{@abuse_report.reporter.name} (@#{@abuse_report.reporter.username}).
\
> #{@abuse_report.message}
\
ver detalhes: #{admin_abuse_reports_url}